/* Singular
---------------------------------------------------------------------------------------------------- */

/* Entry Content
--------------------------------------------- */

.full-width-content .entry-content {
	& > *:where(:not(.alignleft):not(.alignright):not(.alignfull)) {
		--wp--style--global--content-size: var(--wp--style--global--wide-size);
	}
	& > *:where(.alignfull) .wp-block-columns {
		--wp--style--global--content-size: var(--wp--style--global--wide-size);
	}

	&:first-child > .alignfull.has-background:first-child {
		margin-top: calc(-1 * var(--wp--custom--spacing--gap-large));
	}

	&:last-child > .alignfull.has-background:last-child {
		margin-bottom: calc(-1 * var(--wp--custom--spacing--gap-large));
	}
}

/* Single Post
--------------------------------------------- */

.entry-footer {
	margin-top: 48px;
}

.block-area-after-post {
	margin: 32px 0;
}
