/* Singular
---------------------------------------------------------------------------------------------------- */

/* Entry Content
--------------------------------------------- */

h1.front {
	display: none;
}

.entry-content,
.block-area {
	& > * {
		margin: 0 auto;
		max-width: var(--wp--custom--layout--page);

		&.alignwide {
			max-width: var(--wp--style--global--wide-size);
		}

		&.alignfull {
			margin-left: calc(-1 * var(--wp--custom--spacing--gap));
			margin-right: calc(-1 * var(--wp--custom--spacing--gap));
			max-width: 100vw;
		}

		@include media("<tablet") {
			&.alignwide {
				margin-left: calc(-1 * var(--wp--custom--spacing--gap));
				margin-right: calc(-1 * var(--wp--custom--spacing--gap));
				max-width: 100vw;
			}
		}
	}

	& > * + * {
		margin-top: var(--wp--style--block-gap);
	}

	& > .alignfull,
	& > .wp-block-separator {
		&:not(:first-child) {
			margin-top: var(--wp--custom--layout--block-gap-large);
		}

		&:not(:last-child) {
			margin-bottom: var(--wp--custom--layout--block-gap-large);
		}
	}

	& > .alignfull.has-background + .alignfull.has-background {
		margin-top: calc(-1 * var(--wp--custom--layout--block-gap-large));
	}
}

.full-width-content .entry-content {
	&:first-child > .alignfull.has-background:first-child {
		margin-top: calc(-1 * var(--wp--custom--layout--block-gap-large));
	}

	&:last-child > .alignfull.has-background:last-child {
		margin-bottom: calc(-1 * var(--wp--custom--layout--block-gap-large));
	}
}

/* Single Post
--------------------------------------------- */

.entry-footer {
	margin-top: 48px;
}

.block-area-after-post {
	margin: 32px 0;
}
